# This Repository

# Packages

- Package manager: yarn
- Build tool: turbo
- Paths:
    - apps
    - packages (distributable packages)
    - shared (internal packages)
- Depending on internal packages:
    - use "*" instead of "workspace:*"

# Source

- Language: TypeScript
